[user]
    name = jigsaw
    email = m@jgs.me
    signingkey = B59B02AA2576074140579BDD206E53913DCF21B5

[core]
    excludesfile = ~/.gitignore

[alias]
    gr = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    st = status --branch --short
    df = diff
    dfc = diff --cached
    dfs = diff --staged
    dfw = diff --color-words
    co = checkout
    last = show -1 HEAD --stat -p
    me = log --author=jigsaw
    ci = commit
    b = branch
    log = log --decorate
    l = log --decorate
    fix = commit --amend
    pl = pull
    ps = push
    sb = submodule
    cp = cherry-pick
    unstage = reset
    re = rebase
    fe = fetch
    s = switch

[ghq]
	root = /Users/jigsaw/dev
[gpg]
	program = gpg
[commit]
	gpgsign = true
[init]
	defaultBranch = m
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
