[user]
    name = jigsaw
    email = m@jgs.me
    signingkey = F0B3B6EB
[core]
    excludesfile = ~/.gitignore

[alias]
    gr = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
    st = status --branch --short
    df = diff
    dfc = diff --cached
    dfs = diff --staged
    dfw = diff --color-words
    co = checkout
    last = show -1 HEAD --stat -p
    me = log --author=jigsaw
    ci = commit
    b = branch
    log = log --decorate
    l = log --decorate
    fix = commit --amend
    pl = pull
    ps = push
    sb = submodule
    cp = cherry-pick
    unstage = reset

[color]
    ui = true
    diff = true

[credential]
    helper = osxkeychain

[ghq]
    root = ~/dev/src
[commit]
    gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[diff]
	compactionHeuristic = true
